// .spacing {
// width: 20px;
// padding-left: 10px;
// }




.horizontal{
  position: relative;
  padding:10px;
      .sort{
        cursor: pointer;
    }
    caption {
      height: 45px;
      input {
        // text-align: left;
      position: absolute;
      left: 20px;
      top: 0px;
      }
    }
    .sort::before{
        content: '\25B6'; 
        color: $dark; 
        display: inline-block;
        margin-right: 5px;
        padding: 0;
    }

    .th-sort-asc::before{
        transform: rotate(90deg);
    }

    tbody td {
      padding-left: 15px;
      
    }
}


.vertical {

    padding:10px;

    thead {
      float: left;   
    }
    thead th {
      display: block;   
    }

    .sort{
      cursor: pointer;
  }
  
  .sort::before{
      content: '\25BC'; 
      color: $dark; 
      display: inline-block;
      margin-right: 5px;
  }
 
    
   tbody {
      float: left;   
    }
    tbody tr {
      display: block;
      float: left;
    }
    tbody td {
      display: block;
      padding:0 5px;

    }

    .th-sort-asc::before{
      transform: rotate(-90deg);
  }
}